
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.completada{
  text-decoration: line-through;
  color: #888;
}
